
<style>
    :root {
        --primary-colors: #063389;
    }

    .inline {
        display: inline;
    }

    .textcenter {
        text-align: center;
    }
</style>

<footer style="background-color: var(--primary-colors)">
    <div class="container py-3">
        <div class="row text-white" style="margin-top:10px">
            <div class="col-md-3">
                <strong style="margin-bottom: 5px;">Về chúng tôi</strong>
                <div>
                    <a href="#" class="text-white" style="text-decoration:none">
                        <span class="hover_underline">Trang chủ</span>
                    </a>
                    <br />
                    <a href="#" class="text-white" style="text-decoration:none">
                        <span class="hover_underline">Giới thiệu</span>
                    </a>
                    <br />
                    <a href="#" class="text-white" style="text-decoration:none">
                        <span class="hover_underline">Liên hệ</span>
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <strong style="margin-bottom: 5px;">Kết nối</strong>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        <p class="inline">06 Trần Văn Ơn, Thành phố Thủ Dầu Một, tỉnh Bình Dương</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <p class="inline">0987654321</p>
                    </li>
                    <li>
                        <i class="fa-regular fa-envelope"></i>
                        <p class="inline">FastJobs@gmail.com</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <strong>Mobile App</strong>
                <div style="display:flex; margin-top:0px;">
                    <img src="~/Images/App-Store-Emblem.png" style="width: 150px; height: 70px; vertical-align: middle;" />
                    <img src="~/Images/ggplay.png" style="width:170px; height:64px; vertical-align: middle; padding-top:6px;" />
                </div>
            </div>
        </div>
        <hr style="color:white" />
        <div class="textcenter text-white">
            <p>Giấy phép hoạt động dịch vụ việc làm số: 18/SLĐTBXH-GP</p>
            <p>Giấy phép đăng ký kinh doanh số: 0107307178</p>
            <p>Công Ty Cổ Phần FastJobs Toàn Cầu</p>
        </div>

    </div>
</footer>
